<%= bootstrap_form_for(muscle) do |f| %>
    <div class="field">
      <%= f.number_field :user_id, :value => "#{current_user.id}", :readonly => true %>
    </div>

    <div class="field">
      <%= f.number_field :benchpress %>
    </div>

    <div class="field">
      <%= f.number_field :squat %>
    </div>

    <div class="field">
      <%= f.number_field :chin_up %>
    </div>

    <div class="field">
      <%= f.number_field :deadlift %>
    </div>

    <div class="actions">
      <%= f.submit '登録' %>
    </div>
    <br>
    <%= link_to 'Back', muscles_path, class: "btn btn-default" %>
<% end %>
